*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

/* Navbar Styles */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    width: 100vw;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(29,29,46,1);
    animation: navSticky 1s linear;
}
@keyframes navSticky {
    0%{
        top:-80px;
    }
    50%{
        top:-40px;
    }
    100%{
        top:0px;
    }
}
nav ul{
    list-style: none;
}
.navitem{
    display: inline;
    margin-left: 20px;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
}
.navitem a{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 600;
    color: #fff;
}
.navitem a:hover{
    transition: 0.5s ease;
    color: #2ECC40;
}
.logo{
    font-family: 'PlayFair Display', serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2ECC40;
}
.header{
    position: relative;
}
.header-color{
    background-color: rgba(29,29,46,.85);
    height: 100vh;
    width: 100vw;
    position: absolute;
    mix-blend-mode: darken;
}
.header-wrap{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.header-wrap img{
    position: relative;
    width: 100vw;
    background-size: cover;
    object-fit: cover;
    z-index: -1;
}
.heading-text-wrap{
    position: absolute;
    top: 35%;
    left: 25%;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.heading{
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    font-weight: 800;
}
.btn{
    padding: 15px;
    width: 150px;
    border: none;
    font-size: 0.9rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: #2ECC40;
    border: 2px solid #2ECC40;
    color: #fff;
}
.btn:hover{
    border: 2px solid #2ECC40;
    background-color: transparent;
    color: #2ECC40;
    transition: 0.3s ease-in;
}
.main{
    width: 100vw;
    height: 5000px;
}

/* custome reuseable animation */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in-bottom {
	-webkit-animation: fade-in-bottom 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}